@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  background-color: #000;
  padding: 2vw 0;
  height: auto;
  width: 100%;
}

.game-board div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
  background-color: #fff;
  font-size: 8rem;
  height: auto;
  width: calc(92vw/3);
}

body *,
body {
  font-family: 'Sen', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}
